package ui

type HomePageProps struct{}

templ HomePage(props HomePageProps) {
	@Base() {
		<div>
			<h1>Welcome to Jot</h1>
			<p>please check the github while this is still in development</p>
		</div>
	}
}
